@import "tailwindcss";

@config "../tailwind.config.js";

body {
  font-family: 'Rubik', sans-serif;
  @apply dark:text-gray-100 text-gray-800;
}

button {
  cursor: pointer;
}

material-symbols-outlined {
  color: white;
}

th {
  @apply p-3;
}

textarea {
  @apply resize-none w-full overflow-hidden break-words rounded-lg border p-2 focus:outline-none;
}


.category-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-button .category-icon,
.category-button .category-name {
  transition: opacity 0.2s;
}

.category-button:hover .category-icon,
.category-button:hover .category-name {
  opacity: 0;
}

.category-button:hover::after {
  content: 'close';
  font-family: 'Material Symbols Outlined';
  position: absolute;
  opacity: 1;
  transition: opacity 0.2s;
  font-size: 24px;
}