@import "tailwindcss";

@config "../tailwind.config.js";

body {
  font-family: 'Rubik', sans-serif;
  @apply dark:text-gray-100 text-gray-800 bg-gray-100 dark:bg-black;
  @apply sm:text-base text-sm;
  background-image: url('./public/backgroundLight.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.dark body {
  background-image: url('./public/backgroundDark.svg');
}


h2 {
  @apply sm:text-2xl text-xl font-semibold;
}

button {
  cursor: pointer;
}

.material-symbols-outlined {
  @apply !text-xl sm:!text-2xl leading-none ;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  @apply rounded-lg bg-white p-5;
}

body.modal-open {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.dark .modal {
  @apply dark:bg-gray-800;
}

th {
  @apply p-3;
}

textarea {
  @apply resize-none w-full overflow-hidden break-words rounded-lg border p-2 focus:outline-none;
}


.category-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-button .category-icon,
.category-button .category-name {
  transition: opacity 0.2s;
}

.category-button:hover .category-icon,
.category-button:hover .category-name {
  opacity: 0;
}




.category-button:hover::after {
  content: 'close';
  font-family: 'Material Symbols Outlined';
  position: absolute;
  opacity: 1;
  transition: opacity 0.2s;
  font-size: 24px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  @apply mt-1 block w-full px-4 py-2 border border-gray-300 dark:border-gray-700 rounded-lg shadow-sm focus:outline-none focus:border-blue-600 dark:focus:border-blue-700 sm:text-sm dark:bg-gray-800 dark:text-gray-200;

}

input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled {
  @apply bg-white shadow-none dark:bg-gray-900;
}

select {
  @apply mt-1 block w-full px-4 py-2 border border-gray-300 dark:border-gray-700 rounded-lg shadow-sm focus:outline-none focus:border-blue-600 dark:focus:border-blue-700 sm:text-sm dark:bg-gray-800 dark:text-gray-200;


  @apply appearance-none cursor-pointer bg-no-repeat bg-right;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%231e2939'%3E%3Cpath d='M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z'/%3E%3C/svg%3E");
  background-position: right 0.5rem center;
}

.dark select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23f3f4f6'%3E%3Cpath d='M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z'/%3E%3C/svg%3E");
}

select::-ms-expand {
  appearance: none;
  @apply cursor-pointer;
  
}




input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
  -webkit-text-fill-color: #1e2939;
  background-clip: content-box;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #1e2939 inset;
  -webkit-text-fill-color: #f3f4f6;
  background-clip: content-box;
}

/* Stylizacja pionowego paska przewijania */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  @apply bg-white;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-200 rounded-lg;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300;
}

.dark ::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

.dark ::-webkit-scrollbar-thumb {
  @apply bg-gray-800;
}

.dark ::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700;
}

input[type="checkbox"] {
  appearance: none;
  display: block;
  @apply w-5 h-5 border border-gray-300 rounded-md checked:bg-gray-300 dark:checked:bg-gray-700 dark:border-gray-700 focus:outline-none;
   
}

input[type="checkbox"]:checked:before {
  content: '✔';
  font-size: 0.8rem;
  color: white;
  display: block;
  text-align: center;
  line-height: 1.25rem; /* Adjust this value to center the checkmark */
}



