@import "tailwindcss";

@config "../tailwind.config.js";

body {
  font-family: "Rubik", sans-serif;
  @apply bg-gray-100 text-gray-800 dark:bg-black dark:text-gray-100 w-screen;
  @apply text-sm sm:text-base;
  background-image: url("./public/backgroundLight.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

:root {
  /* Minimalnie 16px, rośnie wraz z viewportem, max 30px */
  font-size: clamp(16px, 0.8vw, 30px);
}

header {
  @apply w-screen;
}

.dark body {
  background-image: url("./public/backgroundDark.svg");
}

h2 {
  @apply text-xl font-semibold sm:text-2xl;
}

button {
  cursor: pointer;
}

button:hover {
  @apply !transition-colors !duration-300 !ease-in-out ;

}

.material-symbols-outlined {
  @apply !text-xl leading-none sm:!text-2xl !select-none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  @apply rounded-lg bg-white p-5;
}

body.ReactModal__Body--open {
  overflow: hidden;
}

.overlay {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.dark .modal {
  @apply dark:bg-gray-800;
}

th {
  @apply p-3;
}

textarea {
  @apply w-full resize-none overflow-hidden rounded-lg border p-2 break-words focus:outline-none;
}

.category-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-button .category-icon,
.category-button .category-name {
  transition: opacity 0.2s;
}

.category-button:hover .category-icon,
.category-button:hover .category-name {
  opacity: 0;
}

.category-button:hover::after {
  content: "close";
  font-family: "Material Symbols Outlined";
  position: absolute;
  opacity: 1;
  transition: opacity 0.2s;
  font-size: 24px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  @apply mt-1 block w-full rounded-lg border border-gray-300 px-4 py-2 shadow-sm focus:border-blue-600 focus:outline-none sm:text-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200 dark:focus:border-blue-700;
}

input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled {
  @apply bg-white shadow-none dark:bg-gray-900;
}

select {
  @apply mt-1 block w-full rounded-lg border border-gray-300 px-4 py-2 shadow-sm focus:border-blue-600 focus:outline-none sm:text-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200 dark:focus:border-blue-700;

  @apply cursor-pointer appearance-none bg-right bg-no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%231e2939'%3E%3Cpath d='M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z'/%3E%3C/svg%3E");
  background-position: right 0.5rem center;
}

.dark select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23f3f4f6'%3E%3Cpath d='M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z'/%3E%3C/svg%3E");
}

select::-ms-expand {
  appearance: none;
  @apply cursor-pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 40px white inset;
  -webkit-text-fill-color: #1e2939;
  background-clip: content-box;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 40px #1e2939 inset;
  -webkit-text-fill-color: #f3f4f6;
  background-clip: content-box;
}

/* Stylizacja pionowego paska przewijania */
::-webkit-scrollbar {
  width: 12px;
  
}

::-webkit-scrollbar-track {
  @apply bg-white;
}

::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-gray-200;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300;
}

.dark ::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

.dark ::-webkit-scrollbar-thumb {
  @apply bg-gray-800;
}

.dark ::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700;
}

input[type="checkbox"] {
  appearance: none;
  display: block;
  @apply h-5 w-5 rounded-md border border-gray-300 checked:bg-gray-300 focus:outline-none dark:border-gray-700 dark:checked:bg-gray-700;
}

input[type="checkbox"]:checked:before {
  content: "✔";
  font-size: 0.8rem;
  color: white;
  display: block;
  text-align: center;
  line-height: 1.25rem;
}

@media (max-width: 640px) {
  input[type="checkbox"]:checked:before {
    font-size: 0.6rem; /* Zmień rozmiar czcionki dla urządzeń mobilnych */
    line-height: 1.2rem; /* Zmień wysokość linii dla urządzeń mobilnych */
  }
}

.button-approve {
  @apply flex content-center items-center justify-center rounded-lg bg-gray-200 p-1.5 hover:bg-gray-300 sm:p-2 dark:bg-gray-700 dark:hover:bg-gray-800;
}

.button-reject {
  @apply flex content-center items-center justify-center rounded-lg bg-red-500 p-1.5 text-white hover:bg-red-600 sm:p-2 dark:bg-red-700 dark:hover:bg-red-800;
}

.button-orange {
  @apply flex content-center items-center justify-center rounded-lg bg-yellow-600 p-1.5 text-white hover:bg-yellow-700 sm:p-2  dark:bg-yellow-700 dark:hover:bg-yellow-800;
}

.button-blue {
  @apply flex content-center items-center justify-center rounded-lg bg-blue-600 p-1.5 text-white hover:bg-blue-700 sm:p-2 dark:bg-blue-700 dark:hover:bg-blue-800;
}

.button-save {
  @apply flex content-center items-center justify-center rounded-lg bg-green-600 p-1.5 text-white hover:bg-green-700 sm:p-2 dark:bg-green-700 dark:hover:bg-green-800;
}

table {
  @apply w-full;
}

thead {
  @apply rounded-t-2xl bg-gray-50 text-left text-xs sm:text-sm dark:bg-gray-700;
}

tbody {
  @apply divide-y divide-gray-200 dark:divide-gray-700;
}

@media print {
  button, header, footer, .comments-section {
    display: none !important;
  }
  main, body, main > :first-child {
    margin: 0 !important;
    padding: 0 !important;
    width: 100vw !important;
    height: 100vh !important; 
    background-image: none !important;
    @apply bg-white dark:bg-gray-900 ;
  } 

  main > :first-child > :first-child {
    @apply shadow-none rounded-none;
  }

  * {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
    print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
    }
  
  .task {
    break-inside: avoid !important;
  }

  textarea {
    height: auto !important;
    field-sizing: content;          /* automatyczna wysokość wg zawartości */
  }

  :root {
    font-size: clamp(14px, 1.3vw, 128px);
  }
}